$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

body {
    background-color: rgb(244, 255, 236);
}

#Concrete-output {
    .block {
        display: inline-block;
        min-width: 55px;
        border: 1px dotted #5A9D6E;
        padding: 5px;
        text-align: center;
        background-color: #DAF2FF;

        &.daemon {
            font-weight: bold;
            border-color: #55749D;
            color: #3994FF;
            background-color: #FFDFD1;
        }
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
