body {
    background-color: rgb(244, 255, 236);
}

article {
    margin: 0 auto;
    width: 70%;

    label {
        margin-bottom: 20px;
        margin-top: 40px;
        display: block;
        font-size: 1.2em;
        color: rgba(68, 68, 68, 0.87);
        font-weight: bold;
    }


}

#Concrete-output {
    .block {
        display: inline-block;
        min-width: 55px;
        border: 1px dotted #5A9D6E;
        padding: 5px;
        text-align: center;
        background-color: #DAF2FF;
        margin-right: 10px;
        margin-bottom: 10px;

        &.daemon {
            font-weight: bold;
            border-color: #55749D;
            color: #3994FF;
            background-color: #FFDFD1;
        }
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    article {
        max-width: 730px;
    }
}
